#main{
  position: relative;
  width: 1000px;
  height: 550px;
  background-color: #ffd800;
  text-decoration: none;
}

a{
  text-decoration: none;
}

.space{
  position: absolute;
  width: 1000px;
  height: 70px;
  background-color: #1e2f43;
}

.about{
  position: absolute;
  width: 70px;
  height: 550px;
  background-color: #1e2f43;
}

.about_style{
  position: absolute;
  top: 225px;
  color: white;
  font-size: 1.2em;
  transform: rotate(90deg);
}

.contact{
  position: absolute;
  right: 0px;
  width: 70px;
  height: 550px;
  background-color: #1e2f43;
}

.contact_style{
  position: absolute;
  top: 225px;
  color: white;
  font-size: 1.2em;
  transform: rotate(-90deg);
}

.works{
  position: absolute;
  bottom: 0px;
  width: 1000px;
  height: 70px;
  background-color: #1e2f43;  
  text-align: center;
}

.works_style{
  font-size: 1.2em;
  color: white;
}


}
